<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/styles.css" rel="stylesheet">
    <title>대구 폭염 예측 SYSTEM</title>
</head>
<body>
    <div id="body-wrapper">
        <div id="body-content">
            <div class="title">
                <a id="logo" href="/">
                    <img src="static/mark2.png" alt="My Image" width="150" height="120" id="logo">
                </a>
                <div class="title-txt-container">
                    <div class="title-txt">
                        <h1><face='나눔스퀘어'>대구지역 폭염분석</h1>
                        <h2>Heatwave Analysis & Prediction in Daegu</h2>
                    </div>
                </div>

                <div class="coop-logo-container">
                    <div class="coop-logo">
                        <div class="knu">
                            <a href="http://www.knu.ac.kr" target="_blank">
                                <img src="static/knu.png" alt="knu" width="100px">
                            </a>
                        </div>
                        <div class="winitec">
                            <a href="http://www.winitech.com" target="_blank">
                                <img src="static/winitech.jpg" alt="winitech" width="100px">
                            </a>
                        </div>
                        <div class="kma">
                            <a href="http://www.kma.go.kr" target="_blank">
                                <img src="static/kma.png" alt="kma" width="100px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr noshade style="background:#c7d8ff; border-color:#c7d8ff">

            <div class="main" style="margin: 0px 70px 50px 70px">
                <input id="tab1" type="radio" name="tabs" checked> <!--디폴트 메뉴-->
                <label for="tab1">Main</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">가설 1</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">가설 2</label>

                <input id="tab4" type="radio" name="tabs">
                <label for="tab4">가설 3</label>

                <input id="tab5" type="radio" name="tabs">
                <label for="tab5">가설 4</label>

                <input id="tab6" type="radio" name="tabs">
                <label for="tab6">가설 5</label>

                <input id="tab7" type="radio" name="tabs">
                <label for="tab7">가설 6</label>

                <input id="tab8" type="radio" name="tabs">
                <label for="tab8">가설 7</label>

                <input id="tab9" type="radio" name="tabs">
                <label for="tab9">가설 8</label>

                <input id="tab10" type="radio" name="tabs">
                <label for="tab10">가설 9</label>

                <input id="tab11" type="radio" name="tabs">
                <label for="tab11">조원</label>

                <section id="content1" style="overflow: hidden;">
                    <div id="screen1" style="background-color: #ececff; color: #0000ff; margin-bottom: 30px">
                        
                        <div style="width: 100%;">
                            <div id="pin_icon">
                                <img src="static/icon_red.png" alt="red" width="20" height="20">
                                30℃ 이상
                            </div>
                            <div id="pin_icon">
                                <img src="static/icon_orange.png" alt="orange" width="20" height="20">
                                25℃ ~ 30℃
                            </div>
                            <div id="pin_icon">
                                <img src="static/icon_green.png" alt="green" width="20" height="20">
                                20℃ ~ 25℃
                            </div>
                            <div id="pin_icon">
                                <img src="static/icon_blue.png" alt="blue" width="20" height="20">
                                20℃ 이하
                            </div>
                        </div>
                        <!--flask에서 map 읽어와서 보여줌-->
                        현재 시각 : {{ now }}<br>
                        {{ map | safe }}
                    </div>
                    <div id="screen2" style="color: #0000ff;">
                        상세 예측 정보<br>
                        <!--시군구 선택박스-->
                        시군구 선택 : 
                        <select class="form-control" style="color: white; background: #34568B;" id="all_classes">
                            {% for o in all_classes %}
                                <option value="{{ o }}">{{ o }}</option>
                            {% endfor %}
                        </select>
                        <!--읍면동 선택박스-->
                        읍면동 선택 : 
                        <select class="form-control" style="color:white; background:#009B77;" id="all_entries">
                            {% for o in all_entries %}
                                <option value="{{ o }}">{{ o }}</option>
                            {% endfor %}
                        </select>
                        <!--선택완료 버튼-->
                        <button type="button" style="color:white; background:#3498DB;" id="process_input">선택완료</button>
                        <!--버튼 클릭시 출력할 내용--><br>
                        <div style="text-align: left; padding-left: 100px; color: #000000;">
                        &emsp;&emsp;&emsp;D-Day&emsp;&emsp;&emsp;D+1&emsp;&emsp;&emsp;&emsp;D+2&emsp;&emsp;&emsp;D+3</div>
                        <span style="white-space: pre-wrap"
                            ><div id="processed_results_01" style="text-align: left; padding-left: 100px; color: #333333">
                   향후 기온이 여기 표시 됩니다.
                  2~3초 딜레이가 있을 수 있습니다.
                        </div></span>
                    </div>
                </section>

                <section id="content2">
                    <p>
                        <div>
                            <iframe allowfullscreen="True"
                            title="데이터 비주얼리제이션 가설1" style="display: block; width: 1400px; height: 4027px; visibility: visible;"
                            src="https://public.tableau.com/views/_16551324971580/3_1?:language=ko-KR&publish=yes&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content3">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설2" style="display: block; width: 1400px; height: 5027px; visibility: visible;"
                            src="https://public.tableau.com/views/2_16548805421860/1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content4">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설3" style="display: block; width: 1400px; height: 827px; visibility: visible;"
                            src="https://public.tableau.com/views/03_2_16548503077210/1_1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content5">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설4" style="display: block; width: 1400px; height: 827px; visibility: visible;"
                            src="https://public.tableau.com/views/4__16548202345790/1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content6">
                    <p>
                        <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설5" style="display: block; width: 1400px; height: 927px; visibility: visible;"
                            src="https://public.tableau.com/views/5_16549279314160/1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                    </p>
                </section>

                <section id="content7">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설 6" style="display: block; width: 1400px; height: 827px; visibility: visible;"
                            src="https://public.tableau.com/views/_16552671768860/1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content8">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설 7" style="display: block; width: 1400px; height: 827px; visibility: visible;"
                            src="https://public.tableau.com/views/_16552686221000/1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content9">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설 8" style="display: block; width: 1400px; height: 827px; visibility: visible;"
                            src="https://public.tableau.com/views/_16552696382220/1_1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content10">
                    <p>
                        <div>
                            <iframe allowfullscreen="True" 
                            title="데이터 비주얼리제이션 가설 9" style="display: block; width: 1400px; height: 663px; visibility: visible;"
                            src="https://public.tableau.com/views/1_16546890937580/1_1?:language=ko-KR&:display_count=n&:origin=viz_share_link:showVizHome=no:embed=true"
                            ></iframe>
                        </div>
                    </p>
                </section>

                <section id="content11" style="overflow: hidden;">
                    <div class="person_title">
                        <img src="static/team_2.png" width="80" height="80">
                        Project Members
                    </div>
                    <div class="screen_container">
                        <div class="screen_person">
                            <div class="personal_info">
                                <div class="personal_imgbox">
                                    <img src="static/KMJ.jpg" alt="KMJ" width="200" height="284px">
                                </div>
                                <div class="personal_info_text">
                                    <div class="personal_name">구민지<span>KOO MINJI</span></div>
                                    <div class="position">가설 4, 6, 7, 8 분석</div>
                                    <div class="achieve">LSTM 모델 학습</div>
                                    <div class="main_role">시각화 (Tableau)</div>
                                    <div class="sub_role">전처리</div>
                                    <div class="other">데이터 수집</div>
                                </div>
                            </div>
                        </div>

                        <div class="screen_person">
                            <div class="personal_info">
                                <div class="personal_imgbox">
                                    <img src="static/PJW.jpg" alt="PJW" width="200" height="284px">
                                </div>
                                <div class="personal_info_text">
                                    <div class="personal_name">박종원<span>PARK JONGWON</span></div>
                                    <div class="position">가설 5 분석</div>
                                    <div class="achieve">지도 데이터 시각화 (GeoJSON, folium)</div>
                                    <div class="main_role">git 형상관리</div>
                                    <div class="sub_role">다중선형회귀 모델링</div>
                                    <div class="other">발표를 통한 대중 선동</div>
                                </div>
                            </div>
                        </div>

                        <div class="screen_person">
                            <div class="personal_info">
                                <div class="personal_imgbox">
                                    <img src="static/LEH.jpg" alt="LEH" width="200" height="284px">
                                </div>
                                <div class="personal_info_text">
                                    <div class="personal_name">이은혜<span>LEE EUNHYE</span></div>
                                    <div class="position">가설 3, 9 분석</div>
                                    <div class="achieve">문서 및 노션(notion) 관리</div>
                                    <div class="main_role">데이터 수집</div>
                                    <div class="sub_role">전처리 및 시각화 (Tableau, QGIS)</div>
                                    <div class="other">LSTM 모델 학습</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="screen_container">
                        <div class="screen_person">
                            <div class="personal_info">
                                <div class="personal_imgbox">
                                    <img src="static/KHW2.jpg" alt="KHW" width="200" height="284px">
                                </div>
                                <div class="personal_info_text">
                                    <div class="personal_name">김형우<span>キムラ ヒョン·タ―</span></div>
                                    <div class="position">가설 2, 3 분석</div>
                                    <div class="achieve">시각화 (Tableau, seaborn)</div>
                                    <div class="main_role">PPT 제작</div>
                                    <div class="sub_role">크롤링</div>
                                    <div class="other">LSTM 모델 학습</div>
                                </div>
                            </div>
                        </div>

                        <div class="screen_person">
                            <div class="personal_info">
                                <div class="personal_imgbox">
                                    <img src="static/SSJ.jpg" alt="SSJ" width="200" height="284px">
                                </div>
                                <div class="personal_info_text">
                                    <div class="personal_name">서석정<span>SEO SEOKJEONG</span></div>
                                    <div class="position">API 데이터 실시간 수집</div>
                                    <div class="achieve">데이터 전처리</div>
                                    <div class="main_role">웹 구성 (Flask, HTML, Javascript, folium)</div>
                                    <div class="sub_role">GCP 서버 배포 (gunicorn, nginx)</div>
                                    <div class="other">MLP 모델 학습</div>
                                </div>
                            </div>
                        </div>

                        <div class="screen_person">
                            <div class="personal_info">
                                <div class="personal_imgbox">
                                    <img src="static/LNH.jpg" alt="LNH" width="200" height="284px">
                                </div>
                                <div class="personal_info_text">
                                    <div class="personal_name">임낙현<span>LIM NAKHYUN</span></div>
                                    <div class="position">가설 1 분석</div>
                                    <div class="achieve">EDA 및 전처리</div>
                                    <div class="main_role">시각화 (Tableau, matplotlib)</div>
                                    <div class="sub_role">DB 관리 (PostgreSQL)</div>
                                    <div class="other">LSTM 모델 학습</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <a id="github_logo" href="http://github.com/KNUBA-Teams/Team_Project" target="_blank">
                            <img src="static/github.jpg" alt="github" width="200" height="100" id="logo" style="padding-left: 10px; padding-right: 10px">
                        </a>
                        <a id="notion_logo" href="https://hotcoffee0411.notion.site/6e693c7400ba4baa87728b218cd204e4" target="_blank">
                            <img src="static/notion.png" alt="notion" width="200" height="100" id="logo" style="padding-left: 10px; padding-right: 10px">
                        </a>
                        <a id="gdrive_logo" href="https://drive.google.com/drive/u/0/folders/1B7z3PbQv6qEDyScREmtJwfFP72B65PGJ" target="_blank">
                            <img src="static/gdrive.png" alt="gdrive" width="200" height="100" id="logo" style="padding-left: 10px; padding-right: 10px">
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <div id="footer">
            대구 북구 대학로 80 ( 산격동 1370-1 ) 글로벌플라자 303호<br>
            대표 : 경북대학교 빅데이터 분석가 양성과정 1기 1조 K-워터파크<br>
            Copyrightⓒ2022.경북대학교 빅데이터 분석가 양성과정 1조 K-워터파크. All rights reserved.
        </div>
    </div>
    <!--자바 스크립트 부분-->
    <!--jquery : 문서 객체 모델(DOM)과 이벤트에 관한 처리를 손쉽게 구현할 수 있는 자바스크립트-->
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <!--bootstrap : 예쁜 css를 모아놓은 것-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            // dropdown 변경에 대한 자바스크립트
            $('#all_classes').change(function(){    //all_classes라는 dropdown에 변화가 발생 시
                $.getJSON('/_update_dropdown', {    //_update_dropdown에서 JSON파일을 읽어옴
                    selected_class: $('#all_classes').val()    //선택된 항목을 변수에 저장(_update_dropdown에서 읽어감)
                }).success(function(data) {
                    $('#all_entries').html(data.html_string_selected);  //JSON에서 dropdown에 쓸 항목을 저장
                })
            });

            // 버튼 클릭시 출력에 대한 자바스크립트
            $('#process_input').bind('click', function() {    //버튼 클릭 시
                $.getJSON('/_process_data', {     //_process_data에서 JSON파일을 읽어옴
                    //_process_data에서 읽어갈 항목 저장
                    selected_entry: $('#all_entries').val(),    //all_entries에서 선택돈 항목 저장
                }).success(function(data) {
                    $('#processed_results_01').text(data.result);    //JSON에서 출력할 내용을 저장
                })
                return false;
            });

            // 새로고침 할 때마다 최신 데이터를 가져옴
            window.addEventListener('beforeunload', (event) => {
            // 명세에 따라 preventDefault는 호출해야하며, 기본 동작을 방지합니다.
            event.preventDefault();

            // 대표적으로 Chrome에서는 returnValue 설정이 필요합니다.
            event.returnValue = '';
            });
        });
      </script>
</body>

</html>